[user]
	name = Alkautsar F
	email = alkautsarsol22@gmail.com
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	editor = nvim
	excludesFile = ~/.gitignore_global
