* {
    font-family: "Ioskeley Mono" !important;
}

.material-icons,
.material-symbols-outlined,
.material-symbols-rounded,
.material-symbols-sharp,
.notranslate,
[class*="material-icons"],
[class*="MaterialIcons"],
[class*="material-symbols"],
[class*="MaterialSymbols"] {
    font-family: 'Material Symbols Outlined', 'Material Symbols Rounded', 'Material Symbols Sharp', 'Material Icons' !important;
    text-transform: none !important;
    letter-spacing: normal !important;
    word-wrap: normal !important;
    white-space: nowrap !important;
    direction: ltr !important;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga' 1 !important;
}

svg, svg *, canvas {
    font-family: inherit !important;
}
